---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/tracks?client_id=7be89328fbf5eea69d5b70aaccf1125d&format=json&licence=cc-by-sa&limit=10&q=coco
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"77c1a0c409abdc96051002a48648bc88"'
      Last-Modified:
      - Sun, 01 Feb 2015 00:44:25 GMT
    body:
      encoding: UTF-8
      string: '[{"kind":"track","id":178204007,"created_at":"2014/11/23 02:18:05 +0000","user_id":119652935,"duration":245102,"commentable":true,"state":"finished","original_content_size":2768432,"last_modified":"2014/12/31
        04:20:23 +0000","sharing":"public","tag_list":"soundcloud:source=android-record","permalink":"o-t-genasis-im-in-love-with","streamable":true,"embeddable_by":"all","downloadable":false,"purchase_url":null,"label_id":null,"purchase_title":null,"genre":null,"title":"O.T.
        Genasis-Im in love with the CoCo","description":null,"label_name":null,"release":null,"track_type":"recording","key_signature":null,"isrc":null,"video_url":null,"bpm":null,"release_year":null,"release_month":null,"release_day":null,"original_format":"ogg","license":"all-rights-reserved","uri":"https://api.soundcloud.com/tracks/178204007","user":{"id":119652935,"kind":"user","permalink":"realstreetnigga","username":"realstreetnigga","last_modified":"2015/01/17
        00:24:12 +0000","uri":"https://api.soundcloud.com/users/119652935","permalink_url":"http://soundcloud.com/realstreetnigga","avatar_url":"https://i1.sndcdn.com/avatars-000110911776-g9xtev-large.jpg"},"created_with":{"id":3152,"kind":"app","name":"SoundCloud
        Android","uri":"https://api.soundcloud.com/apps/3152","permalink_url":"http://soundcloud.com/apps/android","external_url":"https://market.android.com/details?id=com.soundcloud.android"},"permalink_url":"http://soundcloud.com/realstreetnigga/o-t-genasis-im-in-love-with","artwork_url":"https://i1.sndcdn.com/artworks-000098016074-j36khb-large.jpg","waveform_url":"https://w1.sndcdn.com/3sczctmYYZOO_m.png","stream_url":"https://api.soundcloud.com/tracks/178204007/stream","playback_count":5367555,"download_count":0,"favoritings_count":101934,"comment_count":778,"attachments_uri":"https://api.soundcloud.com/tracks/178204007/attachments","policy":"ALLOW"},{"kind":"track","id":183008970,"created_at":"2014/12/24
        19:09:17 +0000","user_id":60663,"duration":236690,"commentable":true,"state":"finished","original_content_size":9467877,"last_modified":"2015/01/27
        02:39:20 +0000","sharing":"public","tag_list":"","permalink":"ot-genasis-coco-borgore-remix","streamable":true,"embeddable_by":"all","downloadable":false,"purchase_url":null,"label_id":null,"purchase_title":null,"genre":"Dubstep","title":"O.T
        Genasis - Coco , Bor[...]
