.header
  %h1.logo
    :escaped
      </FLOWLIST>
  %h6 Music that gets you in the zone.
  .user-photo
    = image_tag 'user_avatar.png'
  .add-song-icon
    .horizontal-rectangle
    .vertical-rectangle
