@font-face {
  font-family:'AvenirNext-UltraLight';
  src: font-url('AvenirNext-UltraLight_gdi.eot');
  src: font-url('AvenirNext-UltraLight_gdi.eot?#iefix') format('embedded-opentype'),
    font-url('AvenirNext-UltraLight_gdi.woff') format('woff'),
    font-url('AvenirNext-UltraLight_gdi.ttf') format('truetype'),
    font-url('AvenirNext-UltraLight_gdi.otf') format('opentype'),
    font-url('AvenirNext-UltraLight_gdi.svg#AvenirNext-UltraLight') format('svg');
  font-weight: 275;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-25CA;
}

@font-face {
  font-family:'AvenirNext-Regular';
  src: font-url('AvenirNext-Regular_gdi.eot');
  src: font-url('AvenirNext-Regular_gdi.eot?#iefix') format('embedded-opentype'),
    font-url('AvenirNext-Regular_gdi.woff') format('woff'),
    font-url('AvenirNext-Regular_gdi.ttf') format('truetype'),
    font-url('AvenirNext-Regular_gdi.otf') format('opentype'),
    font-url('AvenirNext-Regular_gdi.svg#AvenirNext-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-25CA;
}

@font-face {
  font-family:'AvenirNext-Medium';
  src: font-url('AvenirNext-Medium_gdi.eot');
  src: font-url('AvenirNext-Medium_gdi.eot?#iefix') format('embedded-opentype'),
    font-url('AvenirNext-Medium_gdi.woff') format('woff'),
    font-url('AvenirNext-Medium_gdi.ttf') format('truetype'),
    font-url('AvenirNext-Medium_gdi.otf') format('opentype'),
    font-url('AvenirNext-Medium_gdi.svg#AvenirNext-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-25CA;
}

@font-face {
  font-family:'AvenirNext-DemiBold';
  src: font-url('AvenirNext-DemiBold_gdi.eot');
  src: font-url('AvenirNext-DemiBold_gdi.eot?#iefix') format('embedded-opentype'),
    font-url('AvenirNext-DemiBold_gdi.woff') format('woff'),
    font-url('AvenirNext-DemiBold_gdi.ttf') format('truetype'),
    font-url('AvenirNext-DemiBold_gdi.otf') format('opentype'),
    font-url('AvenirNext-DemiBold_gdi.svg#AvenirNext-DemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-25CA;
}

