@import reset
@import external

@import variables
@import utilities

@import header
@import player
@import track
@import overlay

body
  background: $background-color
  color: $main-font-color
  font-family: $thin-font