$background-color: #2E2F3B
$secondary-background-color: #3B3B48
$overlay-background-color: rgba(46, 47, 59, 0.97)

$darker-blue: #3981E7
$lighter-blue: #347EEA

$main-font-color: #FFFFFF

$bold-font: "AvenirNext-DemiBold"
$regular-font: "AvenirNext-Regular"
$medium-font: "AvenirNext-Medium"
$thin-font: "AvenirNext-UltraLight"

$centered-width: 960px